@import "tailwindcss";

h1 {
    @apply text-3xl font-bold;
}

h2 {
    @apply text-2xl font-bold;
}
h3 {
    @apply text-xl font-bold;
}


@theme {
    --color-primary: #f2f2f2;
    --color-secondary: #171717;
    --color-accent: #006162;
}