@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #f2f2f2;
  --color-secondary: #171717;
  --color-accent: #006162;
}

.btn-primary{
  @apply bg-accent text-white hover:bg-stone-200 hover:text-black
}

.btn-danger{
  @apply bg-red-500 text-white font-semibold hover:bg-red-700
}

.primary-card{
  @apply border-accent shadow-lg
}

.card-description{
  @apply font-semibold text-stone-600
}

.page-sections > div {
  @apply py-10 px-4 xl:px-14 flex flex-col items-center justify-center gap-10
}

.page-sections > div > div {
  @apply pb-5
}

.page-sections > div > div > h2 {
  @apply text-xl xl:text-2xl font-bold py-10
}

[aria-label*="today"],
[data-day][class*="today"] {
  background-color: transparent !important;
  font-weight: normal !important;
}

button {
  font-weight: 600;
  cursor: pointer;
}
button:hover {
  cursor: pointer;
}


